<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/demos/demo-11.js"></script>

<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/wNumb.js"></script>
<script src="/assets/js/nouislider.min.js"></script>
<script src="/assets/js/bootstrap-input-spinner.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/bootstrap-input-spinner.js"></script>
<script src="/assets/js/jquery.elevateZoom.min.js"></script>


<!-- Plugins JS File -->

<script src="/assets/js/jquery.elevateZoom.min.js"></script>
<!-- <script src="/assets/js/bootstrap-input-spinner.js"></script> -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>

<!-- Include SweetAlert library -->
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

</body>
</html>