<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUSH GAMES</title>
    <!-- #d16ba5, #c565a5, #b860a5, #aa5ba5, 
        #9c57a4, #a6569d, #ae5595, #b5558d, 
        #c8607c, #d1716d, #d18565, #cc9966); -->
    <!-- Favicon -->
    <link rel="logo" sizes="16x16" href="/assets/images/icons/logo.png">
    <link rel="logo" type="image/png" sizes="16x16" href="/assets/images/icons/logo.png">
    <link rel="logo" type="image/png" sizes="16x16" href="/assets/images/icons/logo.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/logo.png" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/logo.png">
    <meta name="apple-mobile-web-app-title" content="RUSH GAMES">
    <meta name="application-name" content="RUSH GAMES">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"> -->
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    
</head>
<body>