<style>

    .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img:first-child {
    margin-right: 10px; 
}
    


    .cart-count {
        right: -10px;
    }

    .wishlist-count {
        right: -10px;
    }
    .main-nav .menu > li {
    position: relative;
}
.main-nav .menu > li > a {
    color: #ffffff;
}
.header-right .header-dropdown-link {
    display: flex;
    align-items: center;
}

.header-right .header-dropdown-link > .cart,
.header-right .header-dropdown-link > .wishlist {
    margin-right: 10px; 
}
.left-align {
        float: left;
    }
    nav a {
            color: white; 
            text-decoration: none;
            
            margin: 0 5px; 
        }

  
        nav a.active {
            font-weight: bold; 
        }
        .account {
    text-align: center;
}

.icon-container {
    border: 1px solid white;
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    line-height: 40px; 
    margin: 0 auto; 
}

.icon-container i {
    color: white;
    font-size: 15px; 
}
.icon {
    width: 30px; 
    height: 40px;
}
a.active {
    font-weight: bold;
}

</style>


<div class="page-wrapper " >
    <div class="wrap-container">
        <header class="header header-intro-clearance header-3">
            
            <div class="header-middle" >
                <div class="container">
                    <div class="header-left">
                       
                        
                        <a class="logo">
                            <img src="assets/images/demos/demo-3/logo.png" alt="Rush Games logo" width="80" height="30">
                        </a>
                    </div><!-- End .header-left -->

                    

                    <div class="header-right">
                    
                        <div class="header-dropdown-link">
                            <% if (locals.user) { %>
                                <div class="account">
                                    <a href="/userProfile" title="User-Profile">
                                        <div class="icon">
                                            <i class="far fa-user" style="color: lightgray;"></i>
                                        </div>
                                        <p id="userProfile"><%= locals.user.name %></p>
                                    </a>
                                </div>
                                <div class="account">
                                    <a id="logoutButton" title="Logout">
                                        <div class="icon">
                                            <i class="fas fa-sign-out-alt" style="color: lightgray;"></i>
                                        </div>
                                        <p>Logout</p>
                                    </a>
                                </div>
                            <% } else { %>
                                <div class="account">
                                    <a href="/login" title="My account">
                                        <div class="icon">
                                            <i class="fas fa-user" style="color: lightgray;"></i>
                                        </div>
                                        <p>Login/Sign In</p>
                                    </a>
                                </div>
                            <% } %>
                            <div class="wishlist">
                                <a href="/wishlist" title="Wishlist">
                                    <div class="icon">
                                        <i class="icon-heart-o"></i>
                                    </div>
                                    <p>Wishlist</p>
                                </a>
                            </div>
                            <div class="wishlist">
                                <a href="/cart" title="Cart">
                                    <div class="icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <p>Cart</p>
                                </a>
                            </div>
                            <div class="wishlist" style="position: relative; padding-left: 10px;">
                                <a href="/loadNotification" title="notification">
                                    <div class="icon">
                                        <i class="fas fa-bell"></i>
                                        <% if(locals.user) { %>
                                            <span id="notificationCount" class="notification-count"><%= locals.unreadMessage ? locals.unreadMessage : '' %></span>
                                        <% } %>
                                    </div>
                                    <p>Message</p>
                                </a>
                            </div>
                            
                            
                        </div>
                    </div><!-- End .header-right -->
                    
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-middle" style="background-color: rgb(56, 54, 54); width: 100%;"> 
                <nav style="width: 100%; display: flex; justify-content: space-around; padding: 0 0px">
                    <a href="/">Home</a>
                    <a href="/allGames">Games</a>
                    <a href="/comingSoon">Coming Soon</a>
                    <a href="/aboutUs">About</a>
                    <a href="/contactUs">Contact</a>
                </nav>
            </div>
            
        </header>
</div>


<!-- ask confirmation for logout -->
<script>
    document.addEventListener('DOMContentLoaded',function(){
        const logoutButton = document.getElementById('logoutButton');

        logoutButton.addEventListener('click',function(event){
            event.preventDefault();

            Swal.fire({
                title: 'Are you sure you want to logout?',
                text: "You will need to log in again to access your account.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, logout',
                cancelButtonText: 'Cancel'
            }).then((result)=>{
                if(result.isConfirmed){
                    window.location.href = '/logout';
                }
            })
        })
    })

</script>




<script>
    document.addEventListener("DOMContentLoaded", function() {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll("nav a");

    navLinks.forEach(link => {
        if (link.getAttribute("href") === currentPath) {
            link.classList.add("active");
        }
    });
});
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

