<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>
<style>
    .form-control {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.btn-outline-primary-2 {
    border: 1px solid black; /* Black border */
    color: black; /* Black text */
    background-color: transparent; /* Transparent background */
}
</style>

<main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <!-- Display the Forgot Password heading without tabs -->
                    <h2 class="text-center mb-4">Forgot Password</h2>

                    <!-- Forgot Password Form -->
                    <form id="forgot-password-form" action="/forgot-password-submit" method="POST" onsubmit="return validateForgotPasswordForm()">
                        <div class="form-group">
                            <label for="forgot-email">Email Address *</label>
                            <input type="text" class="form-control" id="forgot-email" name="email">
                            
                        </div>
                        <br>
                        <div class="form-footer d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-link btn btn-outline-primary-2" onclick="window.location.href='/login'">
                                <i class="icon-long-arrow-left"></i> Back to Login
                            </button>
                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>RESET PASSWORD</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </div>
                    </form>                    
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->









<%-include('../layouts/footbar.ejs')%>

<%-include('../layouts/footer.ejs')%>